*{
    box-sizing: border-box;
}

#svg{
    width: 100%;
}
.btn{
    width: 100px;
}
#wrapper{
    width: 100%;
    padding: 30px 20%;
}
#buttons , #board, #controls{
    float: left;
    background:;
}
#controls , #buttons{
    width: 20%;
}
#board{
    width: 60%;
    font-size: 80px;
    text-align: center;
}
#start-btn{
    background: green;
    color: white;
    margin-bottom: 25px;
}
.crystal-btn{
    color: white;
    margin: 5px;
}